*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    display: inline-block;
    color: #cecece;
    text-decoration: none;
}
button{
    cursor: pointer;
}

input,
textarea,
button,
select{
    outline: none;
}

body{
    font-size: 14px;
    font-weight: 400;
    color: #cecece;
    line-height: 1;
    font-family: 'Gill Sans', sans-serif;
    background: rgba(0 , 0, 0, 0.85);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}